---
import { getSessionFromCookie } from "@auth/session";
import { db } from "../db";
import BaseLayout from "../layouts/BaseLayout.astro";
export const prerender = false;

const session = await getSessionFromCookie(Astro.cookies);

if (!session) {
  return Astro.redirect("/login");
}

---

<BaseLayout
  title="Home"
  description="Homepage"
  includeSidebar={true}
  prefetchUrls={[]}
  theme={session.theme}
>
  <div class="pb-12 mt-5">
    <h1 class="text-5xl font-bold text-balance capitalize">
      {session.user.username}
    </h1>
    <div class="text-2xl py-3 font-bold text-balance">
      Software Engineering Master Student
    </div>
    <div class="py-2">
      <text class="text-xl text-pretty">
        Welcome! {session.user.username}!
      </text>
    </div>
    <div>
      <form method="post" action="api/logout/">
        <button class="btn" type="submit">Logout</button>
      </form>
    </div>
  </div>
</BaseLayout>
