---
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout
	title="Login"
	description="Login page"
	prefetchUrls={["/", "/404"]}
	theme="light"
	includeSidebar={true}
>
	<a class="btn" href="/api/google">Sign in with Google</a>
</BaseLayout>
