---
import { getSessionFromCookie } from "@auth/session";
import BaseLayout from "@layouts/BaseLayout.astro";

const session = await getSessionFromCookie(Astro.cookies, Astro.locals.db);
if (!session) {
  return Astro.redirect("/login");
}
---

<BaseLayout
  title="Reviews"
  description="Your reviews"
  includeSidebar={true}
  prefetchUrls={["/", "/explore"]}
  session={session}
  user={session.user}
>
  <h1 class="text-4xl font-bold">Reviews</h1>
  <p class="mt-2 opacity-70">Reviews you've written, drafted or published.</p>
</BaseLayout>