---
interface Props {
    download_button?: {
        url: string,
        title: string,
    };
}
const { download_button } = Astro.props;
---

<div
    class="block sticky pointer-events-none bottom-10 bg-base-200 justify-center h-12 [mask-image:linear-gradient(transparent,#000000)]"
>
</div>
<div
    class="gap-2 pb-5 flex self-center justify-center"
>
    {
        download_button && (
            <a
                href={download_button.url}
                download
                class="btn btn-square btn-ghost"
                aria-label={download_button.title}
                title={download_button.title}
            >
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                >
                    <>
                        <path d="M12 17V3" />
                        <path d="m6 11 6 6 6-6" />
                        <path d="M19 21H5" />
                    </>
                </svg>
            </a>
        )
    }
</div>
