---
import SideBarFooter from "./SideBarFooter.astro";
import SideBarMenu from "./SideBarMenu.astro";
import type { ComponentProps } from "astro/types";

interface Props extends ComponentProps<typeof SideBarFooter> {}

const props = Astro.props;
const pathname = Astro.url.pathname;
---

<div class="drawer-side z-40">
    <label for="my-drawer" class="drawer-overlay"></label>
    <aside
        class="h-auto min-h-full w-80 bg-base-200 text-base-content flex flex-col border-r border-base-300"
    >
        <SideBarMenu {pathname} />
        <SideBarFooter {...props} />
    </aside>
</div>