---
import SideBarFooter from "./SideBarFooter.astro";
import SideBarMenu from "./SideBarMenu.astro";
import type { ComponentProps } from "astro/types";

interface Props extends ComponentProps<typeof SideBarFooter> {}

const { download_button } = Astro.props;

---

<div class="drawer-side z-40">
    <label for="my-drawer" class="drawer-overlay"></label>
    <aside
        class="px-2 pt-2 h-auto min-h-full w-76 bg-base-200 text-base-content flex flex-col"
    >
        <SideBarMenu />
        <SideBarFooter {download_button} />
    </aside>
</div>


