---
import { Moon, Sun } from "@lucide/astro";
import type { Session } from '@auth/session';

interface Props {
  session?: Session;
}

const { session } = Astro.props;

const isDark = session?.theme === "dark";
---
{session && (
<form method="post" action="/api/theme">
  <li>
    <button class="text-left w-full" type="submit">
      {isDark ? <Moon size={16} /> : <Sun size={16} />}
      Theme
    </button>
  </li>
</form>
)}