---
import type { Session } from '@auth/session';

interface Props {
  session?: Session;
}

const { session } = Astro.props;

const theme = session?.theme ?? "light"

const options = [
  { value: "light", label: "Light" },
  { value: "dark", label: "Dark" },
  { value: "default", label: "Default" },
];
---

<li>
  <details>
    <summary>Theme</summary>
    <ul>
      {options.map((o) => (
        <li>
          <label class="flex items-center gap-2 cursor-pointer">
            <input
              type="radio"
              name="theme"
              value={o.value}
              class="theme-controller radio radio-sm"
              checked={o.value === theme }
            />
            <span>{o.label}</span>
          </label>
        </li>
      ))}
    </ul>
  </details>
</li>