---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import SideBar from "../components/SideBar.astro";
import type { ComponentProps } from "astro/types";
import SpeculationsAPI from "@components/SpeculationsAPI.astro";


interface Props
  extends
    ComponentProps<typeof BaseHead>,
    ComponentProps<typeof SpeculationsAPI>,
    ComponentProps<typeof Header>,
    ComponentProps<typeof SideBar> {
    class?: string;
  }

const props = Astro.props;
---

<!doctype html>
<html lang="en" data-theme={props.session?.theme ?? "light"}>
  <head>
    <BaseHead {...props} />
    <slot name="head" />
  </head>
  <body>
    <div class="bg-base-100 drawer lg:drawer-open">
      <input id="my-drawer" type="checkbox" class="drawer-toggle" />
      <div class="drawer-content bg-base-100">
        <Header {...props} />
         <main
            class:list={[
              "p-8 lg:max-w-[900px] max-w-[100vw]",
              Astro.props.class,
            ]}
          >
            <slot />
          </main>
        <Footer />
      </div>
      {props.includeSidebar && <SideBar {...props} />}
    </div>
  </body>
</html>

<SpeculationsAPI {...props} />